@import "tailwindcss";
@plugin "daisyui";

.bg {
    background-image: url('./assets/MarsSpece.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}